body {
  margin: 0;
  padding: 0;
  width: 100vw;
  text-align: center;
  padding-top: 5vh;
  background-color: rgba(251, 118, 162, 0.7);
  color: maroon;
  flex-wrap: wrap;
}
.main {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.top {
  display: flex;
  flex-direction: row;
  padding-left: 3rem;
  padding-top: 0px;
}
.name {
  margin-right: 2rem;
  font-size: xx-large;
  font-weight: bolder;
  text-shadow: 0.5px 0.5px 1.5px white;
}
.name:hover{
  cursor: pointer;
  color: white;
  text-shadow: 0.5px 0.5px 1.5px maroon;
}
.icon {
  padding: 2rem;
  margin-left: 1rem;
}
.board {
  width: 170px;
  height: 80px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  position: relative;
}
.tf {
  text-shadow: 0.5px 0.5px 1.5px brown;
}
.board h3{
  margin: 0;
  grid-column-start: 1;
  grid-column-end: 3
}
.board .turn {
  border: 1.5px solid brown;
  font-size: 1.6rem;
  font-weight: 700;
  text-shadow: 0.5px 0.5px 1.5px brown;
}
.board .turn:nth-child(even){
  border-right: none;
}
.turn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.board div.active{
  background-color: rgb(252, 93, 146);
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 200px;
  width: 200px;
  margin: 30px auto;
  border: 2px solid maroon;
}
.box {
  cursor: pointer;
  font-size: 2rem;
  font-weight: 700;
  border: 2px solid maroon;
  transition: 0.5s;
  color: black;
  text-align: center;
}
.box:hover{
  background-color: rgb(252, 93, 146);
}
#reset {
  background-color: rgb(252, 93, 146);
  padding: 12px 25px;
  border: 2px solid maroon;
  font-size: 1.2rem;
  border-radius: 50%;
  cursor: pointer;
  font-weight: bold;
  transition: 0.5s;
}
.set {
  background-color: rgb(252, 93, 146);
  padding: 12px 25px;
  border: 2px solid maroon;
  font-size: 1.2rem;
  border-radius: 50%;
  cursor: pointer;
  font-weight: bold;
  transition: 0.5s;
  margin-right: 100px;
  margin-top: 3.5rem;
}
#reset:hover{
  padding: 12px 35px;
  background-color: rgb(203, 16, 78);
  color: white;
  border: none;
  font-weight: bolder;
}
.set:hover{
  padding: 12px 35px;
  background-color: rgb(203, 16, 78);
  color: white;
  border: none;
  font-weight: bolder;
}
.table {
  margin: 1rem;
}
.player {
  font-size: xx-large;
  padding: 1rem;
  text-align: center;
  text-shadow: 0.5px 0.5px 1.5px brown;
  text-decoration: underline;
  margin-top: 1rem;
}
.points {
  font-size: larger;
  text-align: center;
}
.lead {
  background-color: rgba(252, 93, 146, 0.5);
  border-radius: 50%;
  border: 2px solid rgba(128, 0, 0, 0.5);
  box-shadow: 2px 2px 2px brown;
}
.up {
  border-top: 0px;
}
.down {
  border-bottom: 0px;
}
.left {
  border-left: 0px;
}
.right {
  border-right: 0px;
}

@media screen and (max-width: 900px){
  .main {
    flex-wrap: wrap;
  }
}